<h1>{{title}}</h1>
<h1>mohammed ezzaim is the best 2024!!</h1>
{{#if condition }}
it is true
{{else}}
it is false
{{/if}}
<h1>
{{!-- {{# each anyarry }}
  {{this}}
{{/ each}} 
15 5 3 8 --}}
{{# each anyarry as | val index |}}
  {{index}} : {{ val }} <hr>
{{/ each}}
</h1>

